h1, h2 {
  padding: 0;
  margin: 0;
}
nav {
  background-color: #333;
  padding: 1em;
  font-size: 125%;
  display: flex;
  justify-content: space-around;
}
nav a {
  color: #ccc;
}
img {
  width: 100%
  height: auto;
}
header {
  background-color: #ccc;
  padding: 2em;
}
.splash {
  display: flex;
  justify-content: space-between;
}
.splash-txt {
  align-self: center;
  font-size: 200%;
  flex-basis: 75%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.splash-img {
  flex-basis: 25%;
}
article div {
  padding: 1em;
}
article {
  display: grid;
  grid-gap: .25em;
  grid-template-areas:
  "feat1 feat2 feat3"
  "wall blog1 blog1"
  "wall blog2 blog2"
  "wall blog3 blog3";
}

.feat1{grid-area:feat1;}
.feat2{grid-area:feat2;}
.feat3{grid-area:feat3;}
.wall{grid-area:wall;}
.blog1{grid-area:blog1;}
.blog2{grid-area:blog2;}
.blog3{grid-area:blog3;}

footer {
  background-color: #333;
  color: #eee;
  text-align: center;
  padding: 1em;
}
@media screen and (max-width: 767px) {
  article {
    grid-template-areas:
    "feat1"
    "feat2"
    "feat3"
    "blog1"
    "blog2"
    "blog3"
    "wall";
  }
  .wall {display: none;}
}
