h1, h2 {
  padding: 0;
  margin: 0;
}
nav {
  background-color: #333;
  padding: 1em;
  font-size: 125%;
  display: flex;
  justify-content: space-around;
}
nav a {
  color: #ccc;
}
img {
  width: 100%
  height: auto;
}
header {
  background-color: #ccc;
  padding: 2em;
}
.splash {
  display: flex;
  justify-content: space-between;
}
.splash-txt {
  align-self: center;
  font-size: 200%;
  flex-basis: 75%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.splash-img {
  flex-basis: 25%;
}
