:root {
  --light: #CCC;
  --dark: #000;
  --mid: #AAA;
  --accent: #EE0000;
}
.material-icons {font-size: 72px;}

body {
  background-color: red;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.2em;
  padding: 0.25em;
}

h1, h2 {
  font: 'Alegreya', serif;
  font-size: 75px;
  padding: .1em;
  margin: .1em;
  color: var(--accent);
}
h3 {
  font: 'Monsterrat', sans-serif;
  font-size: 50px;
  padding-bottom: 0.5em;
}
p {
  font: 'Monsterrat', sans-serif;
  padding: 0.25em;
  margin: 0.1em;
}
nav {
  background-color: var(--dark);
  padding: 1em;
  font-size: 125%;
  display: flex;
  justify-content: space-around;
}
.menu-links {
  flex-basis: 66%;
  display: flex;
  justify-content: space-between;
}
.search-bar {
  flex-basis: 33%;
  display: flex;
  padding-left: 0.25em;
  justify-content: flex-end;
}
nav a {
  color: var(--accent);
}
img {
  width: 100%
  height: auto;
}
header {
  background-color: var(--mid);
  padding: 2em;
  color: var(--dark);
}
figure {
  width: 25%;
  height: auto;
}
figcaption {
  font-style: italic;
  font-weight: bold;
}
.splash {
  display: flex;
  justify-content: space-between;
  background-image: url("../img/stonebank.png");
  background-repeat: no-repeat;
  padding: 10em 0;
  background-position: right;
  font-weight: bold;
}
.splash-txt {
  align-self: center;
  font-size: 175%;
  flex-basis: 66%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

article div {
  padding: 1em;
}
article {
  display: grid;
  grid-gap: .25em;
  grid-template-areas:
  "feat1 feat2 feat3"
  "wall blog1 blog1"
  "wall blog2 blog2"
  "wall blog3 blog3";
}

.feat1{grid-area:feat1;}
.feat2{grid-area:feat2;}
.feat3{grid-area:feat3;}
.wall{grid-area:wall;}
.blog1{grid-area:blog1;}
.blog2{grid-area:blog2;}
.blog3{grid-area:blog3;}

footer {
  background-color: var(--dark);
  color: var(--light);
  text-align: center;
  padding: 1em;
}
@media screen and (max-width: 767px) {
  article {
    grid-template-areas:
    "wall"
    "feat1"
    "feat2"
    "feat3"
    "blog1"
    "blog2"
    "blog3";
  }
  .wall {display: none;}
}
